//fonts vars

$mainFontRegular: 'TT Hoves Regular';
$mainFontLight: 'TT Hoves Light';
$mainFontMedium: 'TT Hoves Medium';
$mainFontBold: 'TT Hoves Bold';

$secondFontBold: 'SF ProDisplay Bold';


//colors vars

$darkGrayColor: #333;
$headersColor: #BDBDBD;
$lightGrayColor: #F2F2F2;
$accentColor: #F3F3F3;
$darkColor: #2C2C2C;