@import "mixins";
@import "variables";
@import "fonts";

//soft reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//base styles
.read-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 222px;
    padding: 2.1em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 1;
    color: $darkGrayColor;
    background-color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    &.dark {
        background-color: $darkGrayColor;
        color: #fff;
    }
    &:hover {
        border-bottom-color: $darkGrayColor;
    }
    &:hover span {
        transform: translateX(10px);
    }
    span {
        margin-left: 10px;
        font-size: 18px;
        transition: transform 0.3s;
    }
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: $mainFontRegular;
    &.noscroll {
        overflow-y: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    @media screen and (max-width: $md) {
        display: none;
    }
}

.section {
    margin-bottom: 120px;
    @media screen and (max-width: $lg) {
        margin-bottom: 100px;
    }
    @media screen and (max-width: $md) {
        margin-bottom: 60px;
    }
    @media screen and (max-width: $sm) {
        margin-bottom: 40px;
    }
}

.landing-ttl {
    @include title(300, $mainFontLight);
    color: $lightGrayColor;
    &__accent {
        font-family: $mainFontBold;
        color: #000;
    }
    @media screen and (max-width: $lg) {
        font-size: 50px;
    }
    @media screen and (max-width: $md) {
        font-size: 40px;
    }
}

.header {
    &__logo {
        margin-right: 5vw;
    }
}

.header__container {
    padding: 20px 15px;
    @media screen and (max-width: $md) {
        padding: 0;
    }

}

.header__container,
.slider-section,
.slider-section__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//slider
.arrows-wrap {
    position: relative;
    margin: 90px 0;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    @media screen and (max-width: $md) {
        margin: 40px 0;
    }
    &::after {
        content: "";
        z-index: -5;
        position: absolute;
        top: 50%;
        left: 100%;
        height: 1px;
        width: 1000px;
        transform: translateY(-50%);
        background-color: $lightGrayColor;
        @media screen and (max-width: $md) {
            left: calc(100% - 53px);
            transform: translateY(-50%) rotate(-90deg);
            width: 400px;
            transform-origin: 0 0;
        }
    }
}

.arrow {
    height: 53px;
    width: 53px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid $lightGrayColor;
    background-color: $lighColor;
    color: $darkGrayColor;
    transition: background-color 0.3s, border-color 0.3s;
    &:hover {
        border-color: darken($lightGrayColor, 15);
    }
    &.disabled {
        background-color: #fff;
        cursor: auto;
    }
    &.disabled:hover {
        border-color: $lightGrayColor;
    }
    & + & {
        margin-left: 23px;
    }
    &::after {
        display: none;
    }
}

.slider__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    @media screen and (max-width: $lg) {
        left: auto;
        right: 0;
    }
}

.slider-section,
.slider-section__container {
    flex-direction: row-reverse;
}

.swiper-container {
    margin-right: 0;
    @media screen and (max-width: $md) {
        margin-bottom: 30px;
        margin-left: 0;
    }
    @media screen and (max-width: $sm) {
        width: 100%;
    }
}

.slider-section__container {
    @media screen and (max-width: $md) {
        flex-direction: column;
    }
    @media screen and (max-width: $sm) {
        padding: 0;
    }
}

.slider-section__left {
    max-width: 280px;
    margin-right: 20px;
    @media screen and (max-width: $md) {
        max-width: none;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.slider__img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-pagination {
    width: 142px;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    line-height: 1;
    span {
        color: #bdbdbd;
    }
    .separator {
        display: inline-block;
        position: absolute;
        left: calc((100% - 44px) / 2);
        width: 44px;
        height: 2px;
        background-color: #e0e0e0;
        transform: translateY(2px) rotate(-45deg);
    }
}

.right-wrap {
    width: 100%;
    max-width: 700px;
}

.hamburger {
    position: fixed;
    display: none;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    @media screen and (max-width: $lg) {
        display: block;
    }
    &.active {
        .hamburger__line {
            visibility: hidden;
            // transition: 0.3s 0.5s;
            // transition-delay: 0.4s;
        }
        .hamburger__line::after,
        .hamburger__line::before {
            visibility: visible;
            width: 60%;
            // transition: background-color .3s, transform .3s;
            background-color: #000;
        }
        .hamburger__line::after {
            top: auto;
            transform: rotate(45deg);
        }
        .hamburger__line::before {
            bottom: auto;
            transform: rotate(-45deg);
        }
    }
    &__line {
        $hLine: 2px;
        $pSize: 10px;
        position: relative;
        height: $hLine;
        position: absolute;
        left: 0;
        right: 0;
        top: calc((100% - #{$hLine}) / 2);
        background-color: chocolate;
        border-radius: $hLine;
        // transition: 0.3s;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            border-radius: inherit;
            height: inherit;
            background-color: inherit;
            transform-origin: 0;
            transition: background-color 0.4s, transform 0.3s;
        }
        &::after {
            top: #{$pSize};
        }
        &::before {
            bottom: #{$pSize};
        }
    }
    @media screen and (max-width: $md) {
        display: block;
    }
}

.mobile-wrap {
    @media screen and (max-width: $lg) {
        position: fixed;
        max-width: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        align-items: flex-start;
        padding: 14vh 10vw;
        background-color: $accentColor;
        &__nav {
            padding: 50px 30px;
        }
        .nav__list {
            display: flex;
            height: 100vh;
            max-height: 400px;
            flex-direction: column;
            justify-content: space-between;
        }
        .nav__link {
            font-size: 20px;
            border-top: none;
            border-bottom-width: 2px;
        }
        .logo {
            display: none;
        }
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        @media screen and (max-width: $md) {
            display: none;
        }
    }

    &__item {
        margin-right: 2vw;
    }

    &__link {
        position: relative;
        padding: 0.3em 0;
        text-decoration: none;
        color: #000;
        border: 1px solid transparent;
        border-right: none;
        border-left: none;
        text-transform: uppercase;
        transition: border 0.3s;
        &.active,
        &:hover {
            border-color: #000;
        }
    }
}

//about
.about {
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;
    @media screen and (max-width: $lg) {
        flex-direction: column;
    }
    @media screen and (max-width: $sm) {
        padding: 20px;
    }
    &__left {
        min-width: 420px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $lg) {
            justify-content: center;
        }
        @media screen and (max-width: $md) {
            min-width: auto;
            margin: auto;
        }
    }
    .img-wrap-left {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-bottom: -60px;
        // .img-wrap:first-of-type {
        //     margin-bottom: 30px;
        // }
    }
    .img-wrap {
        display: flex;
        max-width: 270px;
        min-width: 200px;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        & + .img-wrap {
            margin-top: 30px;
        }
        @media screen and (max-width: $md) {
            min-width: 100px;
        }
    }
    .img-wrap-right {
        align-self: flex-end;
    }
    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
    &__right {
        @media screen and (max-width: $lg) {
            margin: auto;
            margin-top: 80px;
            max-width: none;
        }
        max-width: 400px;
    }
    .landing-ttl,
    &__text {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.56;
    }
}

//tasks
.tasks {
    &__list {
        counter-reset: section;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $md) {
            flex-direction: column;
        }
    }
    &__item {
        width: 50%;
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        @media screen and (max-width: $md) {
            width: 100%;
        }
        &:first-of-type {
            max-width: 420px;
        }
    }
    .tasks__item + .tasks__item {
        margin-left: 20px;
        @media screen and (max-width: $md) {
            margin-left: 0;
        }
    }
    &__item::before {
        counter-increment: section;
        content: counters(section, ".") " ";
        margin-right: 30px;
        display: inline-block;
        color: $lightGrayColor;
        line-height: 0.8;
        font-size: 200px;
        font-family: $secondFontBold;
        text-align: center;
        @media screen and (max-width: $md) {
            min-width: 80px;
            font-size: 100px;
        }
    }
    .landing-ttl {
        margin-bottom: 60px;
    }
    &__text {
        font-size: 22px;
        line-height: 1.5;
        @media screen and (max-width: $md) {
            font-size: 18px;
        }
    }
}

//projects
.projects {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
        align-items: center;
    }
    &__ttl-top {
        margin-bottom: 60px;
    }
    &__block {
        display: flex;
        // flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
    }
    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: inherit;
        width: 100%;
        object-fit: cover;
        z-index: -2;
    }
    &__item + &__item {
        margin-left: 30px;
        @media screen and (max-width: 800px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__inner {
        transition: 0.3s;
        opacity: 0;
        transform: scale(2);
    }
    &__item:nth-of-type(odd) .projects__inner {
        transform: scale(0.5);
    }
    &__item {
        margin-bottom: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        padding: 5%;
        width: 100%;
        max-width: 570px;
        height: 255px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (max-width: 800px) {
            margin-left: auto;
            margin-right: auto;
        }

        &:hover::after {
            opacity: 0.5;
        }
        &:hover .projects__inner {
            transform: scale(1);
            opacity: 1;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $darkGrayColor;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
    &__ttl {
        font-family: $mainFontBold;
        word-break: break-all;
        // font-size: 200%;
        color: #fff;
        line-height: 1;
        @media screen and (max-width: 800px) {
            word-break: normal;
        }
        @media screen and (max-width: 400px) {
            word-break: break-all;
        }
    }
    .read-more.dark {
        align-self: flex-end;
        @media screen and (max-width: 800px) {
            align-self: center;
        }
    }
    &__link {
        padding: 9px;
        color: #fff;
        justify-content: start;
        background-color: transparent;
        border: 0;
    }
}

.contact {
    &__left {
        max-width: 392px;
        min-width: 280px;
        margin-bottom: 30px;
        margin-right: 30px;
        width: 100%;
        @media screen and (max-width: $md) {
            max-width: none;
            margin-right: auto;
        }
    }
    .landing-ttl {
        margin-bottom: 22px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $md) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
    &__agreement {
        margin: 22px 22px 22px 40px;
    }
}

.form {
    &__input,
    &__textarea {
        display: block;
        width: 100%;
        padding: 15px 21px;
        background-color: $accentColor;
        border: none;
        font-size: 14px;
        &:focus {
            outline: none;
        }
        // &:focus + .form__placeholder {
        //     display: none;
        // }
        // &:empty + .form__placeholder {
        //     display: block;
        // }
        // &:empty:focus + .form__placeholder {
        //     display: none;
        // }
    }
    &__textarea {
        resize: none;
        height: 146px;
    }
    &__group {
        position: relative;
        margin-bottom: 10px;
    }
    &__placeholder {
        position: absolute;
        // display: none;
        top: 14px;
        left: 21px;
        color: #8d8d8d;
        &.hide {
            display: none;
        }
        &.required::after {
            content: "*";
            color: red;
        }
    }
}

.footer {
    background-color: $darkColor;
    &__logo {
        margin-right: 3vw;
    }
    &__nav,
    &__inner {
        display: flex;
        justify-content: space-evenly;
    }
    &__nav {
        @media screen and (max-width: $sm) {
            flex-direction: column;
        }
    }
    &__inner {
        padding-top: 58px;
        padding-bottom: 44px;
        @media screen and (max-width: $sm) {
            padding-top: 35px;
            padding-bottom: 25px;
        }
    }
    &__bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 23px;
        text-align: center;
        color: #fff;
    }
    &__list {
        list-style-type: none;
        display: flex;
        width: 100%;
        margin-right: 3vw;
        flex-direction: column;
        justify-content: space-between;
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    &__item {
        margin-bottom: 16px;
        color: #fff;
    }
    &__item-ttl {
        font-family: $mainFontBold;
        margin-bottom: 9px;
    }
    &__link {
        display: inline-block;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 1.6;
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid transparent;
        transition: 0.3s;
        &:hover {
            border-color: inherit;
        }
    }
    .contacts {
        .footer__link {
            border: none;
            text-transform: none;
        }
    }
    .socials {
        max-width: 195px;
        justify-content: start;
        &-inner {
            flex-direction: row;
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 21px;
            height: 21px;
        }
    }
}
